<div class="course-section page">

  <div class="inst-header">
    <div class="inst-header__logo">
      {% if department.logo %}
        <img src="{{ department.logo.url }}" alt="Institutional Logo">
      {% else %}
        <img src="/static/img/frcrce_logo.png" alt="Institutional Logo">
      {% endif %}
    </div>
    <div class="inst-header__text">
      <p class="h-italic">Society of St.&nbsp;Francis Xavier, Pilar&rsquo;s</p>
      <p class="h-bold">{{ department.college_name|default:"Fr. Conceicao Rodrigues College of Engineering" }}</p>
      <p class="h-addr">Fr. Agnel Ashram, Bandstand, Bandra (W), Mumbai &ndash; 400&nbsp;050</p>
      <p class="h-affil">(Autonomous College affiliated to {{ department.university_name|default:"University of Mumbai" }})</p>
    </div>
  </div>
  <div class="doc-title">Course Content (Practical Only)</div>

  <div class="no-break">
  <table>
    <colgroup>
      <col style="width:13%"><col style="width:17%">
      <col style="width:8.75%"><col style="width:8.75%">
      <col style="width:8.75%"><col style="width:8.75%">
      <col style="width:8.75%"><col style="width:8.75%">
      <col style="width:8.75%"><col style="width:8.75%">
    </colgroup>
    <tr>
      <td rowspan="4" class="bold center">Course Code<br><br>{{ course.code }}</td>
      <td rowspan="4" class="bold center">Course Name<br><br><span class="bold">{{ course.name }}</span></td>
      <td colspan="4" class="bold center">Teaching Scheme (Hrs/week)</td>
      <td colspan="4" class="bold center">Credits Assigned</td>
    </tr>
    <tr>
      <td class="bold center">L</td><td class="bold center">T</td>
      <td class="bold center">P</td><td class="bold center">SL</td>
      <td class="bold center">L</td><td class="bold center">T</td>
      <td class="bold center">P</td><td class="bold center">Total</td>
    </tr>
    <tr>
      <td class="center">--</td><td class="center">--</td>
      <td class="center">{% if course.practical_hrs %}{{ course.practical_hrs }}{% else %}--{% endif %}</td>
      <td class="center">--</td>
      <td class="center">--</td><td class="center">--</td>
      <td class="center">{% if course.practical_credits %}{{ course.practical_credits }}{% else %}--{% endif %}</td>
      <td class="center">{% if course.total_credits %}{{ course.total_credits }}{% else %}--{% endif %}</td>
    </tr>
    <tr>
      <td colspan="8" class="exam-wrap">
    <table class="exam-tbl">
      <colgroup>
        <col style="width:18%">
        <col style="width:14%"><col style="width:14%">
        <col style="width:14%"><col style="width:14%">
        <col style="width:14%">
        <col style="width:12%">
      </colgroup>
      <tr>
        <td colspan="7" class="exam-section-hdr">Examination Scheme</td>
      </tr>
      <tr>
        <td></td>
        <td class="col-hdr">ISE1</td>
        <td class="col-hdr">MSE</td>
        <td class="col-hdr">ISE2</td>
        <td class="col-hdr">ESE</td>
        <td class="col-hdr">Total</td>
        <td></td>
      </tr>
      <tr>
        <td>Theory</td>
        <td class="center">--</td>
        <td class="center">--</td>
        <td class="center">--</td>
        <td class="center">--</td>
        <td class="center">--</td>
        <td></td>
      </tr>
      <tr>
        <td>Lab</td>
        <td class="center">{% if course.exam_lab_ise1 %}{{ course.exam_lab_ise1 }}{% else %}--{% endif %}</td>
        <td class="center">--</td>
        <td class="center">{% if course.exam_lab_ise2 %}{{ course.exam_lab_ise2 }}{% else %}--{% endif %}</td>
        <td class="center">--</td>
        <td class="center">{% if course.exam_lab_total %}{{ course.exam_lab_total }}{% else %}--{% endif %}</td>
        <td></td>
      </tr>
    </table></td>
    </tr>
  </table>
  </div>
  <div class="no-break">
  <table>
    <colgroup><col style="width:28%"><col style="width:72%"></colgroup>
    <tr>
      <td class="bold">Pre-requisite Course Codes</td>
      <td>{{ course.prerequisites|default:"--" }}</td>
    </tr>
    <tr><td colspan="2">After the successful completion students should be able to:</td></tr>
    {% for outcome in course.outcomes %}
    <tr>
      {% if forloop.first %}
      <td class="bold" rowspan="{{ course.outcomes|length }}">Course Outcomes</td>
      {% endif %}
      <td><span class="bold">{{ outcome.id }}</span>&ensp;{{ outcome.description }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>

  <!-- ══ Lab Experiments ══ -->
  <div class="no-break">
  <table>
    <colgroup>
      <col style="width:7%"><col style="width:78%">
      <col style="width:7.5%"><col style="width:7.5%">
    </colgroup>
    <tr><td colspan="4" class="bold">To be Taught in laboratory</td></tr>
    <tr>
      <th>&nbsp;</th>
      <th style="text-align:left;">Topics wise List of Experiments with relevant topic</th>
      <th>Ref.</th><th>COs</th>
    </tr>
    {% for exp in course.experiments %}
    <tr>
      <td class="bold center">{{ exp.number }}</td>
      <td>{{ exp.name }}</td>
      <td class="center">--</td>
      <td class="center">{{ exp.co|default:"--" }}</td>
    </tr>
    {% endfor %}
    <tr><td>&nbsp;</td><td class="bold">Total</td><td></td><td></td></tr>
  </table>
  </div>

  <!-- ══ Assessment ══ -->
  <div class="no-break">
    <p class="sec-label">Course Assessment: &ndash; (Lab)</p>
    {% if course.assessment_html_content %}
      {{ course.assessment_html_content|safe }}
    {% else %}
      <p class="bold">Practical:</p>
      <p class="bold">ISE-I:</p>
      <ul>
        <li>Based on predefined rubrics carrying 10 Marks.</li>
        <li>Mini-project / Activity carrying&ndash;10 Marks</li>
      </ul>
      <p class="bold">ISE-II:</p>
      <ul>
        <li>Based on predefined rubrics carrying 10 Marks</li>
        <li>Oral and/or Practical Examination&ndash;20 Marks</li>
      </ul>
    {% endif %}
    <p class="sec-label">Recommended Books:</p>
    <ul>
      {% for book in course.recommended_books %}
      <li>{{ book }}</li>
      {% empty %}
      <li>--</li>
      {% endfor %}
    </ul>
  </div>

</div>
