<div class="page page-break">

  <div class="inst-header" style="border-bottom:none; margin-bottom:2pt;">
    <div class="inst-header__logo">
      {% if department.logo %}
        <img src="{{ department.logo.url }}" alt="Institutional Logo">
      {% else %}
        <img src="/static/img/frcrce_logo.png" alt="Institutional Logo">
      {% endif %}
    </div>
    <div class="inst-header__text">
      <p class="h-bold" style="font-size:10.5pt;">{{ department.college_name|default:"Fr. Conceicao Rodrigues College of Engineering" }}</p>
      <p class="h-addr">Father Agnel Ashram, Bandstand, Bandra &ndash;west, Mumbai&ndash;50</p>
      <p class="h-bold" style="font-size:9.5pt;">Department of {{ department.name }}</p>
    </div>
  </div>
  <hr style="border:none; border-top:1.5pt solid #000; margin-bottom:7pt;">

  <div class="doc-title">Syllabus Feedback (For External Experts)</div>

  <div class="no-break">
    <div class="fb-field"><b>Department:</b> {{ department.name }}</div>
    <div class="fb-field"><b>Course Name:</b> {{ course.name }} ({{ course.code }})</div>
    <div class="fb-field"><b>Semester:</b> {{ course.semester.number }}</div>
    <div class="fb-field" style="margin-bottom:8pt;"><b>Academic Year:</b> {{ academic_year.name }}</div>
  </div>

  <!-- §1 Expert Details -->
  <div class="no-break">
    <p class="sec-label">1.&ensp;Expert Details</p>
    <table>
      <colgroup><col style="width:38%"><col style="width:62%"></colgroup>
      <tr><th style="text-align:left;">Field</th><th style="text-align:left;">Details</th></tr>
      <tr><td class="bold">Name of Expert</td><td>________________________________________</td></tr>
      <tr><td class="bold">Designation</td><td>________________________________________</td></tr>
      <tr><td class="bold">Organization / Institute</td><td>________________________________________</td></tr>
      <tr>
        <td class="bold">Type of Expert</td>
        <td><span class="cb">&#9744;</span> Academic (IIT/NIT/VJTI/SPIT/DJCOE)
            &ensp;<span class="cb">&#9744;</span> Industry</td>
      </tr>
      <tr><td class="bold">Area of Specialization</td><td>________________________________________</td></tr>
      <tr><td class="bold">Email ID</td><td>________________________________________</td></tr>
    </table>
  </div>

  <!-- §2 Overall Relevance -->
  <div class="no-break">
    <p class="sec-label">2.&ensp;Overall Relevance of the Syllabus</p>
    <table>
      <colgroup>
        <col style="width:52%"><col style="width:11%">
        <col style="width:9%"><col style="width:12%"><col style="width:16%">
      </colgroup>
      <tr>
        <th style="text-align:left;">Parameter</th>
        <th>Excellent</th><th>Good</th><th>Average</th><th>Needs Improvement</th>
      </tr>
      <tr><td>Clarity and Measurability of Course Outcomes (COs)</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
      <tr><td>Alignment of Syllabus with the stated Course Outcomes (COs)</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
      <tr><td>Alignment of COs with Program Outcomes (POs) &amp; PSOs</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
      <tr><td>Relevance to Current Technology Trends</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
      <tr><td>Balance between Theory &amp; Practical</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
      <tr><td>Industry / Research Orientation</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
        <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
    </table>
  </div>

  <!-- §3 Module-wise -->
  <div class="no-break">
    <p class="sec-label">3.&ensp;Module-wise Feedback</p>
    <table>
      <colgroup><col style="width:14%"><col style="width:34%"><col style="width:52%"></colgroup>
      <tr>
        <th>Module No.</th><th>Adequacy of Coverage</th>
        <th style="text-align:left;">Comments / Suggestions</th>
      </tr>
      {% for module in course.modules %}
      <tr><td class="bold center">{{ module.number }}</td>
        <td><span class="cb">&#9744;</span> Adequate &ensp; <span class="cb">&#9744;</span> Needs Change</td><td>&nbsp;</td></tr>
      {% endfor %}
    </table>
  </div>

  <!-- §4 Suggestions -->
  <div class="no-break">
    <p class="sec-label">4.&ensp;Suggestions on Syllabus Content</p>
    <p class="sub-label">a) Topics to be Added (if any):</p>
    <span class="open-ans">&nbsp;</span>
    <p class="sub-label">b) Topics to be Removed / Reduced:</p>
    <span class="open-ans">&nbsp;</span>
    <p class="sub-label">c) Emerging Technologies / Tools to Include:</p>
    <span class="open-ans">&nbsp;</span>
  </div>

  <!-- §5 Practical -->
  <div class="no-break">
    <p class="sec-label">5.&ensp;Practical / Laboratory Component (if applicable)</p>
    <table>
      <colgroup>
        <col style="width:55%"><col style="width:10%">
        <col style="width:10%"><col style="width:25%">
      </colgroup>
      <tr><th style="text-align:left;">Parameter</th><th>Yes</th><th>No</th>
          <th style="text-align:left;">Remarks</th></tr>
      <tr><td>Practical support theoretical concepts</td>
          <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td><td>&nbsp;</td></tr>
      <tr><td>Experiments reflect real-world problems</td>
          <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td><td>&nbsp;</td></tr>
      <tr><td>Practical includes use of modern tools / platforms</td>
          <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td><td>&nbsp;</td></tr>
    </table>
  </div>

  <!-- §6 Industry Readiness -->
  <div class="no-break">
    <p class="sec-label">6.&ensp;Industry / Research Readiness</p>
    <table>
      <colgroup>
        <col style="width:52%"><col style="width:12%">
        <col style="width:9%"><col style="width:12%"><col style="width:15%">
      </colgroup>
      <tr><th style="text-align:left;">Statement</th>
          <th>Strongly Agree</th><th>Agree</th><th>Neutral</th><th>Disagree</th></tr>
      <tr><td>Syllabus prepares students for industry roles</td>
          <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
          <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
      <tr><td>Syllabus supports higher studies / research</td>
          <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td>
          <td class="center cb">&#9744;</td><td class="center cb">&#9744;</td></tr>
    </table>
  </div>

  <!-- §7 Recommendation -->
  <div class="no-break">
    <p class="sec-label">7.&ensp;Overall Recommendation</p>
    <p class="rec-opt"><span class="cb">&#9744;</span> <b>Accept without modification</b></p>
    <p class="rec-opt"><span class="cb">&#9744;</span> <b>Accept with minor modifications</b></p>
    <p class="rec-opt"><span class="cb">&#9744;</span> <b>Accept with major modifications</b></p>
    <p class="bold" style="margin-top:4pt;">Comments:</p>
    <span class="open-ans" style="min-height:34pt;">&nbsp;</span>
  </div>

  <!-- Signature -->
  <div class="sig-row no-break">
    <p>I have reviewed the syllabus and provided my feedback to the best of my knowledge.</p>
    <p><b>Signature:</b>&ensp;<span class="sig-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    <p><b>Date:</b>&ensp;&ensp;&ensp;&ensp;&ensp;<span class="sig-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
  </div>

</div>
