<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curriculum</title>
    <link rel="stylesheet" href="/static/css/print.css">
</head>
<body>

    {% if not is_cover_page %}
    <div class="institutional-header">
        <div class="logo-container">
            <img src="/static/img/frcrce_logo.png" alt="Institutional Logo">
        </div>
        <div class="header-text">
            <h4>Society of St. Francis Xavier, Pilar's</h4>
            <h3>Fr. Conceicao Rodrigues College of Engineering</h3>
            <p>Fr. Agnel Ashram, Bandstand, Bandra (W), Mumbai - 400 050<br>
            (Autonomous College affiliated to University of Mumbai)</p>
        </div>
    </div>
    {% endif %}

    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
