{% extends "base.html" %}
{% block content %}

<h3 class="text-center">SEMESTERWISE CURRICULUM STRUCTURE</h3>
<h4 class="text-left mt-10">UG {{ program_name }} Program: SEM-{{ semester_roman }}</h4>

<table>
    <colgroup>
        <col style="width: 12%;"> <col style="width: 8%;">  <col style="width: 8%;">  <col style="width: 24%;"> <col style="width: 8%;">  <col style="width: 6%;">  <col style="width: 6%;">  <col style="width: 6%;">  <col style="width: 6%;">  <col style="width: 8%;">  <col style="width: 8%;">  </colgroup>
    <thead>
        <tr>
            <th rowspan="2">Course Code</th>
            <th rowspan="2">Course<br>Vertical</th>
            <th rowspan="2">Sub-<br>Vertical</th>
            <th rowspan="2">Course Name</th>
            <th rowspan="2">Contact<br>Hours</th>
            <th colspan="4">Examination Marks<br><span class="small-text">(1 Credit = 50 Marks)</span></th>
            <th rowspan="2">Total<br>Marks</th>
            <th rowspan="2">Credits</th>
        </tr>
        <tr>
            <th>ISE 1</th>
            <th>ISE 2</th>
            <th>MSE</th>
            <th>ESE</th>
        </tr>
    </thead>
    <tbody>
        {% for course in semester_courses %}
        <tr>
            <td class="text-center">{{ course.code }}</td>
            <td class="text-center">{{ course.vertical }}</td>
            <td class="text-center">{{ course.sub_vertical }}</td>
            <td>{{ course.name }}</td>
            <td class="text-center no-wrap">
                {% if course.th_hrs %}TH: {{ course.th_hrs }}<br>{% endif %}
                {% if course.pr_hrs %}PR: {{ course.pr_hrs }}<br>{% endif %}
                {% if course.tu_hrs %}TU: {{ course.tu_hrs }}{% endif %}
            </td>
            <td class="text-center">{{ course.ise1 }}</td>
            <td class="text-center">{{ course.ise2 }}</td>
            <td class="text-center">{{ course.mse }}</td>
            <td class="text-center">{{ course.ese }}</td>
            <td class="text-center text-bold">{{ course.total_marks }}</td>
            <td class="text-center text-bold">{{ course.credits }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="text-right">Total</th>
            <th class="text-center">{{ total_contact_hours }}</th>
            <th colspan="4"></th>
            <th class="text-center">{{ overall_total_marks }}</th>
            <th class="text-center">{{ overall_total_credits }}</th>
        </tr>
    </tfoot>
</table>

<div class="page-break"></div>
{% endblock %}
